<article class="new-task-container">
  <header class="new-task-header">
    <input type="checkbox" class="new-task-checkbox">
    <h2>Title</h2>
    <button class="btn btn-danger">Delete Task</button>
  </header>
  <div class="new-task-content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, corrupti amet iusto vitae error ratione!</p>
  </div>
  <footer class="new-task-footer">
    <div>
      <button><i class="far fa-minus-square"></i></button>
      <p>Category</p>
    </div>
    <button><i class="far fa-plus-square"></i></button>
  </footer>
</article>