<article class="new-task-container">
  <h2>To Do List</h2>
  <form action="" method="POST" class="new-task-content">
    <div class="new-task-textarea">
      <input class="form-control" type="text" placeholder="Title">
      <textarea class="form-control" placeholder="Task description" name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="new-task-button">
      <button><i class="fas fa-plus-circle"></i>Add Task</button>
    </div>
  </form>
</article>