<header>
  <nav id="navbar" class="sticky">
    <h1>Smart TODO List</h1>

    <div id='userAuthentication'>

      <% if (userID) { %>
      <div>

        <form class="form-inline" action="/users/logout" method="POST">
          <span style = "padding-right: 10px;">Logged In As: <%= userEmail %> </span>
          <button type="submit" class="btn btn-danger" >Logout</button>
        </form>
        
      </div>

      <% } else { %>
        
        <div class = "form-inline">
          
          <form action="/users/register" method="GET">
            <button style ="margin-inline-end: 10px" type ="submit" class="btn btn-primary" >Register</button>
          </form>
          
          <form action="/users/login" method="GET">
            <button type="submit" class="btn btn-primary" >Login</button>
          </form>
        </div>
        
      <% } %>

    </div>

  </nav>
</header>
