<aside class="sidebar">
  <nav class="sidebarNav">
    <ul>
      <li class="sidebarMain"><a href="/tasks"><i class="fas fa-inbox"></i> Inbox</a><span><%= data.length %></span></li>
      <li class="sidebarMain"><a href="/tasks/categories"><i class="fas fa-globe"></i> All Categories</a><span><%= data.length %></span></li>
      <ul>
        <li><a href="#"><i class="fas fa-film"></i> Films</a></li>
        <li><a href="#"><i class="fas fa-tv"></i> TV Series</a></li>
        <li><a href="#"><i class="fas fa-utensils"></i> Restaurants / Cafes</a><span>10</span></li>
        <li><a href="#"><i class="fas fa-book"></i> Books</a></li>
        <li><a href="#"><i class="fas fa-shopping-cart"></i>Shopping</a></li>
        <li><a href="#">Other</a></li>
      </ul>
    </ul>
  </nav>
</aside>