<aside class="sidebar">
  <nav class="sidebarNav">
    <ul>
      <li class="sidebarMain"><a href="/tasks"><i class="fas fa-inbox"></i> Inbox</a></li>
      <li class="sidebarMain"><a href="/tasks/categories"><i class="fas fa-globe"></i> All Categories</a></span></li>
      <ul>
        <li><a href="/tasks/Films"><i class="fas fa-film"></i> Films</a></li>
        <li><a href="/tasks/TVSeries"><i class="fas fa-tv"></i> TV Series</a></li>
        <li><a href="/tasks/RestoCafe"><i class="fas fa-utensils"></i> Restaurants / Cafes</a></li>
        <li><a href="/tasks/Books"><i class="fas fa-book"></i> Books</a></li>
        <li><a href="/tasks/Other"><i class="fas fa-shopping-cart"></i>
          Shopping / Other</a></li>
      </ul>
    </ul>
  </nav>
</aside>