<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- External CSS - Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- External CSS - Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/add_task.css" type="text/css" />


    <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!-- Link used for tweeter -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/tasks.js"></script>

  </head>

  <body>


    <!-- HEADER -->
    <%- include('partials/_header'); %>

    <!-- Adding task form -->
    <%- include('partials/_add_task') %>

    <main id='mainContainer'>
    <!-- INPUT FORM WITH TWO FIELDS TIED TO ONE BUTTON-->


    <!-- TASK CARDS (ARTICLES) -- HEADER, BODY, FOOTER -->
    <section id='allTasks'>
      <article class='tasks'>

        <button class='checkbox'></button>

        <div class='taskContent'>
          <header class='taskHeader'>
            <p class='taskTitle'>'Hello I am a task title'</p>
            <button class='deleteTask'> Delete Task </button>
          </header>

          <div class='taskBody'>
            <p class='taskDescription'>'I am a task description that is very long and goes multiple lines because the guy who wrote me can't stop typing and he's still not done but he hasn't even typed in a period yet what poor grammar.'</p>
            <div class='editButtons'>
              <button>Edit button</button>
              <button>Save edit</button>
            </div>
          </div>

          <footer class='taskFooter'>

            <div class='categoryContainer'>
              <p class='categories'>'I am a category'</p>
              <p class='categories'>'I am another category'</p>
            </div>

            <button class='addCategory'>Add Category To Item</button>
          </footer>
        </div>

      </article>
    </section>
    </main>

  </body>
</html>
