<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!-- Link used for tweeter -->
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>

    <!-- HEADER -->
    <%- include('partials/_header'); %>

    <main id='mainContainer'>
    <!-- INPUT FORM WITH TWO FIELDS TIED TO ONE BUTTON-->
    <form id='addTask' action="/tasks/add" method="POST">

      <label for="addTitle"></label>
      <input type="text" id="addTitle" name="addTitle" placeholder='Title'><br><br>

      <label for="addDesc"></label>
      <input type="text" id="addDesc" name="addDesc" placeholder='Task Description'><br><br>

      <button type="submit">Add Task</button>
    </form>

    <!-- TASK CARDS (ARTICLES) -- HEADER, BODY, FOOTER -->
      <article class='tasks'>

        <button class='checkbox'></button>

        <div class='taskContent'>
          <header class='taskHeader'>
            <p class='taskTitle'>'Hello I am a task title'</p>
            <button class='deleteTask'> Delete Task </button>
          </header>

          <div class='taskBody'>
            <p class='taskDescription'>'I am a task description that is very long and goes multiple lines because the guy who wrote me can't stop typing and he's still not done but he hasn't even typed in a period yet what poor grammar.'</p>
            <div class='editButtons'>
              <button>Edit button</button>
              <button>Save edit</button>
            </div>
          </div>

          <footer class='taskFooter'>

            <div class='categoryContainer'>
              <p class='categories'>'I am a category'</p>
              <p class='categories'>'I am another category'</p>
            </div>

            <button class='addCategory'>Add Category To Item</button>
          </footer>
        </div>

      </article>
    </main>

  </body>
</html>
