<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Template</title>
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <!-- Internal CSS -->
  <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card register-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/assets/images/login.jpg" alt="register" class="register-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <img src="/assets/images/LHL_logo.png" alt="logo" class="logo">
              </div>
              <p class="register-card-description">Register</p>
              <form action="/users/register" method="POST">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input name="name" id="name" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" class="form-control" placeholder="Email address">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="***********">
                </div>
                <button class="btn btn-block register-btn mb-4" type="submit">REGISTER</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- External JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
