// See: https://sass-lang.com/


body {
  background-color: #EEE;
  display: flex;
  flex-direction: column;

  // Header Styling
  header {
    #navbar {
      display: flex;
      width: 100%;
      background-color: pink;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h1 {
        padding-left: 2em;
      }

      #userAuthentication {
        display: flex;
        flex-direction: row;
        padding-right: 2em;

        div {
          display: flex;
          flex-direction: row;
        }

      }
    }
  }

  // Main Container Styling
  #mainContainer {
    display: flex;
    background-color: burlywood;
  }
}




