// See: https://sass-lang.com/


body {
  background-color: #EEE;
  display: flex;
  flex-direction: column;

  // Header Styling
  header {
    #navbar {
      display: flex;
      width: 100%;
      background-color: pink;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h1 {
        padding-left: 2em;
      }

      #userAuthentication {
        display: flex;
        flex-direction: row;
        padding-right: 2em;

        div {
          display: flex;
          flex-direction: row;
        }

      }
    }
  }

  // Main Container Styling
  #mainContainer {
    display: flex;
    flex-direction: column;
    background-color: burlywood;

    // Add Task Form Styling
    #addTask {
      display: flex;
      flex-direction: column;
      background-color: lightgreen;
      width: 95%;
      border-style: solid;
      align-self: center;
      padding: 1em;
      margin: 1em;
    }

    // All Task Articles
    .tasks {
      display: flex;
      flex-direction: column;
      background-color: cadetblue;
      width: 95%;
      border-style: solid;
      align-self: center;
      padding: 1em;
      margin: 1em;

      // This below p controls the margins for the taskHeader p and taskDescription p
      p {
        margin-top: 0px;
        margin-bottom: 0px;
      }

      // Task Header
      .taskHeader {
        display: flex;
        color: brown;
        font: x-large;
        flex-direction: row;
        justify-content: space-between;
      }

      // Task Body
      .taskBody {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: crimson;
        border-bottom: solid black;
        margin-top: 0.5em;
        margin-bottom: 0.5em;

      }

      // Task Footer
      .taskFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: darkblue;

        .categoryContainer {
          display:flex;

          .categories {
            display: flex;
            margin-right: 1em;
            padding: 0.1em;
            border-style: solid;
          }
        }

        .addCategory {
          display: flex;
          align-self: center;
        }

      }
    }

  }
}




